USE [master]
GO
/****** Object:  Database [ProductsAspOneTable]    Script Date: 4/26/2018 9:36:37 AM ******/
CREATE DATABASE [ProductsAspOneTable]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductsAspOneTable', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.TOTOSERVER\MSSQL\DATA\ProductsAspOneTable.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductsAspOneTable_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.TOTOSERVER\MSSQL\DATA\ProductsAspOneTable_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductsAspOneTable].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductsAspOneTable]
GO
USE [ProductsAspOneTable]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/26/2018 9:36:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Count] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
